    $colorTextPrimary01Default: #132930;    
    $colorTextSecondary01Default: #90a2a7;    
    $colorEmotionInformative01Default: #90cff1;    
    $colorEmotionInformative02Hover: #85c1e1;    
    $colorEmotionInformative03Active: #78a9c5;    
    $colorEmotionInformative04Disabled: #c4c4c4;    
    $colorEmotionInformative05Background: #ebf3f8;    
    $colorEmotionSuccess01Default: #b7d16d;    
    $colorEmotionSuccess02Hover: #9ebf40;    
    $colorEmotionSuccess03Active: #8fad3a;    
    $colorEmotionSuccess04Disabled: #c4c4c4;    
    $colorEmotionSuccess05Background: #f2f5e7;    
    $colorEmotionWarning01Default: #f1d07c;    
    $colorEmotionWarning02Hover: #dfbb5f;    
    $colorEmotionWarning03Active: #c29132;    
    $colorEmotionWarning04Disabled: #c4c4c4;    
    $colorEmotionWarning05Background: #f8f2e4;    
    $colorEmotionDanger01Default: #db5f7b;    
    $colorEmotionDanger02Hover: #c95771;    
    $colorEmotionDanger03Active: #af4c62;    
    $colorEmotionDanger04Disabled: #c4c4c4;    
    $colorEmotionDanger05Background: #fcf1f4;    
    $colorActionLinkPrimary01Default: #29616f;    
    $colorActionLinkPrimary02Hover: #1b5260;    
    $colorActionLinkPrimary03Active: #0b3a46;    
    $colorActionLinkPrimary04Disabled: #c4c4c4;    
    $colorActionLinkPrimary05Visited: #a7bcc2;    
    $colorActionLinkSecondary01Default: #90a2a7;    
    $colorActionLinkSecondary02Hover: #849499;    
    $colorActionLinkSecondary03Active: #6e7b80;    
    $colorActionLinkSecondary04Disabled: #c4c4c4;    
    $colorBorderMain01Default: #e9e9e9;    
    $colorBorderMain02Hover: #dbdbdb;    
    $colorBorderMain03Active: #d4d4d4;    
    $colorBorderMain04Disabled: #f4f4f4;    
    $colorActionPrimary01Default: #29616f;    
    $colorActionPrimary02Hover: #1b5260;    
    $colorActionPrimary03Active: #0b3a46;    
    $colorActionPrimary04Disabled: #c4c4c4;    
    $colorActionSecondary01DefaultActionSecondaryDefault_: #29616f;    
    $colorActionSecondary02Hover: #1b5260;    
    $colorActionSecondary03Active: #0b3a46;    
    $colorActionSecondary04Disabled: #c4c4c4;    
    $colorTextPrimary02Disabled: #c4c4c4;    
    $colorTextSecondary02Disabled: #c4c4c4;    
    $colorBorderFocus01Default: #61b3ff;    
    $colorActionLinkSecondary05Visited: #a7bcc2;    
    $colorBackgroundInverted: #0b1c21;    
    $colorBackgroundCover: #f0f4f5;    
    $colorBackgroundBasic: #ffffff;    
    $colorBrandSecondary: #78a9c5;    
    $colorBrandPrimary: #0b1c21;    
    $colorTextPrimaryInverted01Default: #ffffff;    
    $colorTextPrimaryInverted02Disabled: #737373;    
    $colorTextSecondaryInverted01Default: #e9e9e9;    
    $colorTextSecondaryInverted02Disabled: #737373;    
    $colorActionUnselected01Default: #132930;    
    $colorActionUnselected02Hover: #0b1c21;    
    $colorActionUnselected03Active: #091417;    
    $colorActionUnselected04Disabled: #c4c4c4;    
    $colorActionSelected01Default: #29616f;    
    $colorActionSelected02Hover: #1b5260;    
    $colorActionSelected03Active: #0b3a46;    
    $colorActionSelected04Disabled: #c4c4c4;    
    $colorBackgroundBackdrop: #0b1c2199;    
    $colorBackgroundInteractive01Default: #ffffff;    
    $colorBackgroundInteractive02Hover: #d2dcdf;    
    $colorBackgroundInteractive03Active: #a7bcc2;    
