
.typographyHeadingDesktopXlargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletXlargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileXlargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeAltTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeAltTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeAltTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeAltTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumAltTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumAltTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumAltTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumAltTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextBold 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallAltRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallAltTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallAltTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallAltTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionLargeTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionLargeTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionLargeTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionMediumTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionMediumTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionMediumTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionSmallTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionSmallTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionSmallTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionXsmallTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionXsmallTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionXsmallTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopXlargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopLargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopLargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopMediumText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopMediumLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopSmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopSmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopXsmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletXlargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletLargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletLargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletMediumText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletMediumLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletSmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileXlargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileLargeText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileLargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileMediumText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileMediumLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileSmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopXsmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletSmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletXsmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletXsmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileSmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileXsmallLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileXsmallText 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

